{% load static %}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
      <a href="{% url 'basics:home' %}" class="app-brand-link">
        <img src="{% static 'img/favicon.png' %}" alt="" srcset="" />

        <span class="app-brand-text demo menu-text fw-bolder ms-2">Spider Radio</span>
      </a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
      <!-- Dashboard -->
      <li class="menu-item">
        <a href="{% url 'super:dashboard' %}" class="menu-link">
          <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <div data-i18n="Analytics">Dashboard</div>
        </a>
      </li>

      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Functionalities</span>
      </li>
      {% if request.user.is_staff %}

      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
          <div data-i18n="Account Settings">Accounts</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="{% url 'super:create_account' %}" class="menu-link">
              <div data-i18n="Account">Create Accounts</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'super:manage_student' %}" class="menu-link">
              <div data-i18n="Notifications">Manage Users</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'super:manage_staff' %}" class="menu-link">
              <div data-i18n="Notifications">Manage Admin</div>
            </a>
          </li>
        </ul>
      </li>

      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-cube-alt"></i>
          <div data-i18n="Misc">Post</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="{% url 'super:notify' %}" class="menu-link">
              <div data-i18n="Error">Create Post</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'super:manage_notification' %}" class="menu-link">
              <div data-i18n="Under Maintenance">Manage Post</div>
            </a>
          </li>
        </ul>
      </li>
      {% else %}

      <li class="menu-item">
        <a href="{% url 'auth:notifications' %}" class="menu-link">
          <i class="menu-icon tf-icons bx bx-user"></i>
          <div data-i18n="Support">View Notification</div>
        </a>
      </li>
      {% endif %}
      <!-- Misc -->
      <li class="menu-header small text-uppercase"><span class="menu-header-text">Others</span></li>
      <li class="menu-item">
        <a href="{% url 'super:profile' user.id %}" class="menu-link">
          <i class="menu-icon tf-icons bx bx-user"></i>
          <div data-i18n="Support">Profile</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="" class="menu-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="menu-icon tf-icons bx bx-power-off"></i>
          <div data-i18n="Documentation">Logout</div>
        </a>
      </li>
    </ul>
  </aside>